/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
//font-family: 'Anaheim', sans-serif;

* {
  padding: 0;
  margin: 0;

  outline: none;
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}